<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/util
                            http://www.springframework.org/schema/util/spring-util-2.0.xsd
                            http://www.springframework.org/schema/task
                            http://www.springframework.org/schema/task/spring-task-3.0.xsd
        ">

    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="5"/>
        <property name="defaultEncoding" value="UTF8"/>
        <property name="basenames">
            <list>
                <value>/WEB-INF/resources/messages</value>
            </list>
        </property>
    </bean>

    <util:map id="configParams" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="zociaUrl" value="${zociaUrl}"/>
        <entry key="zociaBase" value="${zociaBase}"/>
        <entry key="webappUrl" value="${webappUrl}"/>
        <entry key="version" value="${buildnum}"/>
        <entry key="s3AccessKey" value="${aws.s3.access_key}"/>
        <entry key="s3SecretKey" value="${aws.s3.secret_key}"/>
        <entry key="s3Bucket" value="${aws.s3.bucket}"/>
    </util:map>

    <!-- *************************************************************************************** -->
    <!-- Hazelcast Configuration                                                                 -->
    <!-- *************************************************************************************** -->

    <bean id="hzServer" class="com.zocia.platform.hazelcast.HazelcastBootstrap"
          init-method="init" destroy-method="destroy">
        <property name="mapStoreFactory" ref="mapStoreFactory" />
    </bean>

    <bean id="mapStoreFactory" class="com.zocia.platform.hazelcast.persistence.DelegatingMapStoreFactory" />

    <bean id="zociaMapStore" scope="prototype" class="com.pykl.hazelcast.ZociaMapPersistence">
        <property name="getAddress" value="${zociaUrl}/resources/bykey/%s" />
        <property name="postAddress" value="${zociaUrl}/resources/" />
        <property name="putAddress" value="${zociaUrl}/resources/%s" />
        <property name="deleteAddress" value="${zociaUrl}/resources/%s" />
        <property name="username" value="backdoor" />
        <property name="password" value="Backd00r" />
    </bean>


    <!-- *************************************************************************************** -->
    <!-- Seed CMS content (must follow hzServer init)                                            -->
    <!-- *************************************************************************************** -->

    <!-- Cron jobs are triggered by the scheduler service -->
    <task:scheduler id="gc-tasks" pool-size="10" />

    <bean id="atStartup" class="com.zocia.roundtable.scheduling.DistributedWebCronJob"
            depends-on="hzServer">
        <property name="index" value="gc" />
        <property name="localUrl" value="http://localhost:8080/gc/api/seedcms/cms" />
        <property name="seconds" value="1000000000000" />
    </bean>

    <task:scheduled-tasks scheduler="gc-tasks">
        <task:scheduled ref="atStartup" method="run"  cron="0/15 * * * * *" />
    </task:scheduled-tasks>

</beans>

