p,
address{
    font-family: "PMN Caecilia", Georgia, serif;
    color: #454545;
}

p.muted,
h5.muted{
    color: #999999;
}

p.text-warning {
    color: #c09853;
}

p.text-error {
    color: #b94a48;
}

p.text-info {
    color: #3a87ad;
}

p.text-success {
    color: #468847;
}

.quote {
    position: relative;
    color: #117450;
    font-weight: normal;
}

.quote p {
    min-height: 33px;
    padding: 20px;
    margin: 10px 10px 0 65px;
    font-size: 18px;
    background-color: #F1EFEF;
    border: 1px solid #C9D9D4;
    border-radius: 2px;
    font-family: "PMN Caecilia", Georgia, serif;
    color: #006644;

    background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(229,229,229,0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(229,229,229,0.2)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.2) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.2) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.2) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(229,229,229,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33e5e5e5',GradientType=0 );
}

.quote img.arrow {
    position: absolute;
    left: 56px;
    top: 31px;
    z-index: 99;
}

.quote .symbol {
    position: relative;
    left: -10px;
    top: 8px;
    float: left;
}

.gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#51A463), to(#127551));
    background-image: -webkit-linear-gradient(top, #51A463, #127551);
    background-image: -moz-linear-gradient(top, #51A463, #127551);
    background-image: -o-linear-gradient(top, #51A463, #127551);
    background-image: linear-gradient(to bottom, #51A463, #127551);
}

.picture-frame{
    display: inline-block;
    position: relative;
    background: #ccc;
    border: 8px solid white;
    -webkit-box-shadow:  0px 7px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 7px 20px 1px rgba(0, 0, 0, 0.3);
}

.med-shadow{
    -webkit-box-shadow:  0px 2px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 2px 20px 1px rgba(0, 0, 0, 0.3);
}

.small-shadow{
    -webkit-box-shadow:  0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.3);
}

.picture-frame-shadow{
    display: inline-block;
    width: 100%;
    height: 45%;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 400px / 70px;
    width: 100%;
    height: 45%;
    position: absolute;
    z-index: -2;
    bottom: -6px;
    right: 0;
    -webkit-box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.3);
}

#images pre.prettyprint, #profiles pre.prettyprint.profile-images{
    margin-top: 2em
}

#profiles .picture-frame{
    margin: 2em 0 0 2em;
}

#profiles .picture-frame:nth-child(5){
    margin-left: 6em;
}

#profiles .picture-frame:nth-child(6){
    margin-left: 6em;
}

.picture-frame .more {
    position: absolute;
    width: 22px;
    top: 170px;
    left: -8px;
    padding: 9px 0 9px 5px;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
    cursor: pointer;
}

.picture-frame.med{
    border: 4px solid white;
}

.picture-frame.small{
    border: 2px solid white;
}

.picture-frame .more a.right-arrow {
    background-position: 100px 7px;
    width: 100%;
}

.picture-frame .more a {
    font-family: "PMN Caecilia", Georgia, serif;
    color: white;
    padding-left: 19px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

a.right-arrow {
    min-width: 10px;
    background-image: url('../../images/GCEE_images_arrowRight.png');
}

.right-arrow, a.left-arrow {
    background-repeat: no-repeat;
    background-position: 5px 9px;
    height: 100%;
}

.right-arrow-shape{
    position: relative;
    display: inline-block;
    right: -5px;
    top: 1px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7.5px 0 7.5px 8.7px;
    border-color: transparent transparent transparent #ffffff;
}

button,
a.btn{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "PMN Caecilia", Georgia, serif;
    color: #ffffff;
}

a.btn:hover,
a.btn:visited{
    color: #ffffff;
}

.update p {
    font-style: italic;
}

.update p a {
    color: #efb81e;
}

.update p.time {
    color: #8b8b8b;
    font-style: inherit;
}

.grey-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f8f6));
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f8f6);
    background-image: -moz-linear-gradient(top, #ffffff, #f9f8f6);
    background-image: -o-linear-gradient(top, #ffffff, #f9f8f6);
    background-image: linear-gradient(to bottom, #ffffff, #f9f8f6);
}

.discussion-item {
    padding: 10px;
    border: 1px solid #F1EFEF;
}

.discussion-item h4 {
    margin: 5px 0;
}

.discussion-item h6, .discussion-post h6  {
    font-family: "PMN Caecilia", Georgia, serif;
    text-transform: none;
    color: #005172;
}
.discussion-item h6 {
    margin: 5px 0;
}
.discussion-heading {
    clear: both;
    margin-bottom: 20px;
}

.discussion-first-post {
    padding: 10px;
    padding-left: 100px;
    border: 1px solid #F1EFEF;
    margin-left: 100px;
    position: relative;
    border-radius: 3px;
}

.discussion-first-post .picture-frame{
    position: absolute;
    top: 0;
    left: -88px;
}

.discussion-first-post .stats {
    border-top: 1px solid #F1EFEF;
}

.discussion-first-post h3, .discussion-first-post h5 {
    margin: 0;
    padding: 0;
    color: #005172;
    text-transform: none;
}

.discussion-first-post h3 {
    line-height: 30px;
}

.discussion-post {
    padding: 10px;
    padding-left: 70px;
    border: 1px solid #F1EFEF;
    position: relative;
    border-radius: 3px;
}

.discussion-post .picture-frame{
    position: absolute;
    top: 0;
    left: -5px;
}

.discussion-post h4 {
    margin: 0;
}

.discussion-post h6 {
    margin: 2px 0;
    line-height: 16px;
}

.discussion-post textarea {
    width: 90%;
    height: 100px;
}

.stats {
    font-size: 12px;
    color: #8b8b8b;
}

.stats span {
    padding-left: 20px;
    margin-right: 10px;
    background-image: url('../../images/GCEE_sprite.png');
}

.stats span.likes {
    background-position: -42px -27px;
}

.stats span.views {
    background-position: -42px -47px;
}

.stats span.comments {
    background-position: -42px -67px;
}

.stats span.flag {
    background-position: -42px -87px;
}

.stats span.add {
    background-position: -42px -7px;
}
.btn-group > .btn:first-child{
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-topleft: 20px;
}

.btn-group > .btn:last-child{
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-topright: 20px;
}

h1.sans-serif, h2.sans-serif, h3.sans-serif, h4.sans-serif, h5.sans-serif, h6.sans-serif {
    font-family: "TradeGothicW01-BoldCn20 675334", "Arial Narrow", sans-serif;
    font-weight: bold;
    color: #006644;
    text-transform: uppercase;
}

h3.sans-serif{
    font-size: 20px;
    line-height: 10px;
    margin: 1.5em 0 1em 0;
}

.bs-docs-example a.btn{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.edit-profile{
    margin: 0 auto;
    width: 90%;
    border: #c5c5c5 solid 1px;
    position: relative;
}

.edit-profile-header{
    position: absolute;
    top: -4em;
    left: -2em;
}

.edit-profile-header .left,
.profile-list-item .left{
    float: left;
}

.edit-profile-header .right
.profile-list-item .right{
    float: left;
    margin: 4em 0 0 2em;
}

.edit-profile-form{
    margin: 11.5em 0 0 0;
}

.edit-profile-form h3 a{
    padding: 1em;
    float: right;
    text-transform: none;
    font: 0.65em normal "PMN Caecilia", Georgia, serif;
}

.form-horizontal .control-label{
    text-align: left;
}

.form-horizontal input,
textarea{
    width: 98%;
}

.edit-profile-form form{
    border-top: #c5c5c5 solid 1px;
    border-bottom: #c5c5c5 solid 1px;
    padding: 0 1.5em 1.5em 1.5em;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.edit-profile-form h3,
.edit-profile-form p{
    padding: 0 1em 0 1em;
}

.edit-profile-form form h3{
 padding: 0;
}

.edit-profile-form p{
    padding-left: 20px;
}

.edit-profile-form .form-horizontal{
    display: none;
}

.profile-modal .center p,
.edit-profile.profile,
.profile-list-item.profile{
    line-height: 15px;
}

.profile-modal .center h3:nth-child(1),
.edit-profile-header .right h3,
.profile-list-item.profile .right h3{
    margin-top: 1.5em;
    line-height: 5px;
}

.profile-modal .center h5{
    margin-bottom: 0;
    margin-top: 0;
}

.profile-modal .center h5.muted{
    margin-bottom: 0.5em;
}

.btn-group-border{
    display: inline-block;
    padding: 2px;
    background: -moz-linear-gradient(left,  rgba(165,165,165,0.65) 0%, rgba(58,58,58,0) 65%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(165,165,165,0.65)), color-stop(65%,rgba(58,58,58,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(165,165,165,0.65) 0%,rgba(58,58,58,0) 65%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(165,165,165,0.65) 0%,rgba(58,58,58,0) 65%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(165,165,165,0.65) 0%,rgba(58,58,58,0) 65%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(165,165,165,0.65) 0%,rgba(58,58,58,0) 65%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a5a5a5', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    -webkit-border-radius: 200px;
    border-radius: 200px;
}

.profile-list-item{
    border: #c5c5c5 solid 1px;
    padding-bottom: 0.75em;
}

.profile-list-item .center,
.profile-list-item .right{
    float: right;
}

.profile-list-item .left{
    width: 25%
}

.profile-list-item .center{
    width: 52%;
}

.profile-list-item .right{
    border-left: #c5c5c5 solid 1px;
    height: 100%;
    width: 25%;
    padding: 0 1em;
}

.profile-list-item.profile .center h3{
    margin-top: 0.75em;
    line-height: 10px;
}

.profile-list-item .picture-frame{
    position: absolute;
    top: 0em;
    left: -2em;
}
.profile-list-item.profile .right h3{
    color: #8b8b8b;
}