.select2-container {
    width: 270px;
}

/** MSCE Page Styles **/
#course-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#course-list li {
    float: left;
    width: 50%;
}

#course-list li p, #course-list li h3 {
    padding: 5px 10px;
}

/** Faculty Page Styles **/
#faculty {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

#faculty li .picture {
    float: left;
}

#faculty li .picture img {
    margin-bottom: 10px;
}

#faculty li .bio {
    margin-left: 200px;
}

#faculty li .bio p {
    margin: 10px 0;
}

/** Article(s) Page Styles **/
#article-list {
    margin-right: 100px;
}

#article-list .article {
    width: 220px;
    float: left;
    background-color: #a9a9a9;
    margin: 5px;
    clear: none;
}

.category-sort {
    float: right;
    width: 200px;
}

.category-sort hr {
    clear: none;
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* app css stylesheet */
.clear {
    clear: both;
}

/** Discussion posts **/
.post {
    margin: 0 20px;
    border: 1px solid red;
}

.post .user {
    float: left;
    padding-left: 5px;
}

.post .user p {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

.post .content {
    padding-left: 70px;
    padding-right: 10px;
}

.reply {
    margin: 10px 30px;
}

.discussion-thread {
    margin: 5px 10px;
    padding-left: 10%;
    border-top: 1px solid black;
}

.discussion-thread .started-by {
    float: right;
    margin-right: 20%;
}

.profile{
    margin: 2em 0 4em 2em;
    width: 600px;
}

.profile-left{
    float: left;
    width: 50%
}

.profile-right{
    float: right;
    width: 50%;
}

.profile-right h6{
    display: inline-block;
    text-transform: none;
}

input.ng-invalid{
    background-color: #ffcccc;
}

#drop-target{
    width: 300px;
    height: 300px;
}

form[name="editProfile"] legend{
    margin-bottom: 0;
}

form[name="editProfile"] legend + .control-group{
    margin-top: 0;
}