/* app css stylesheet */
.clear {
    clear: both;
}

/** Discussion posts **/
.post {
    margin: 0 20px;
    border: 1px solid red;
}

.post .user {
    float: left;
    padding-left: 5px;
}

.post .user p {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

.post .content {
    padding-left: 70px;
    padding-right: 10px;
}

.reply {
    margin: 10px 30px;
}

.discussion-thread {
    margin: 5px 10px;
    padding-left: 10%;
    border-top: 1px solid black;
}

.discussion-thread .started-by {
    float: right;
    margin-right: 20%;
}

.profile{
    margin: 2em 0 4em 2em;
    width: 600px;
}

.profile-left{
    float: left;
    width: 50%
}

.profile-right{
    float: right;
    width: 50%;
}

.profile-right h6{
    display: inline-block;
    text-transform: none;
}

input.ng-invalid{
    background-color: #ffcccc;
}

#drop-target{
    width: 300px;
    height: 300px;
}