<div class="about-section gradient">
    <div class="about-section-mesh">
        <div class="container">
            <div class="row">
                <div class="span6" x-cms="all_articles_about">
                    <h2>{{cms.title}}</h2>
                    <p ng-bind-html-unsafe="cms.content"></p>
                </div>
                <div class="span6">
                    <div class="curriculum-about">
                        <img src="images/curriculum-about-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>