<div class="about-section gradient">
    <div class="about-section-mesh">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span6">
                            <div class="new-picture-frame about-6-col">

                            </div>
                        </div>
                        <div class="span6">
                            <h2>ABOUT THE GLOBAL CONSORTIUM</h2>
                            <p>
                                Donec quam enim, fermentum at tristique sit amet, vestibulum ut nulla.
                                Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                per inceptos himenaeos. Sed semper, elit sit amet vestibulum consectetur,
                                risus tellus pellentesque tellus, ut posuere mauris orci a ante. Aenean
                                eu semper augue. Pellentesque habitant morbi tristique senectus et netus
                                et.
                            </p>
                            <p>
                                Sed iaculis interdum mi eget egestas. Etiam quis nunc vitae elit elementum
                                lacinia eu sit amet mauris. Suspendisse eu dolor id leo semper varius eget
                                id magna. Pellentesque porttitor consequat felis, id ultrices felis
                                tempus ac. Nulla varius posuere ultrices. Vivamus sed lacus a sem luctus
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>