<div class="about-section gradient error-page">
    <div class="about-section-mesh">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span9 error-message">
                            <h2>We're sorry</h2>
                            <p>
                                The page you're looking for cannot be found.
                            </p>
                        </div>
                        <div class="span3">
                            <div class="curriculum-about">
                                <img ng-src="images/404_page_image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>