<div class="about-section gradient">
    <div class="about-section-mesh summit">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span7">
                            <h2>ABOUT THE SUMMIT</h2>
                            <p>
                                The integrative cornerstone of GCEE membership is the Annual Summit.
                                The Annual Summit serves as a forum for exchanging ideas, practices, and experiences with global peers, for hearing from and debating with thought leaders in the field and for creating a host of opportunities for ongoing collaboration with Babson College and other GCEE Members.
                            </p>
                            <p>
                                GCEE Members are entitled and expected to send representatives to each year’s Annual Summit, to actively and generously contribute to and participate in Summit deliberations and to help shape Annual Summit designs through engaged participation on the Summit Organizing Committee as well as the GCEE Advisory Board.
                                GCEE Members also will have opportunities to host Annual Summits at their home institutions.
                            </p>

                            <div class="slide-navigation clearfix">
                                <div class="forward read-more gradient"></div>
                                <div class="backward read-more gradient"></div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="summit-slide-show-container">
                                <div class="summit-slide-show">
                                    <div class="slide">
                                        <div class="new-picture-frame slide-thumbnail no-rotation">
                                            <div style="overflow:hidden; height:220px;">
                                                <img alt="" ng-src="images/annual_summit_images/5420811288_9fddbe57b7_o.jpg">
                                            </div>
                                        </div>
                                        <p class="summit-slide-description">Dang tellizzle lorem, pulvinar uhuh ... yih!, condimentum egizzle, vehicula shit, dizzle.
                                            Etiam sed shit a sizzle shizzlin dizzle mattis. Pellentesque interdum magna in eros
                                            commodo ullamcorpizzle.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>