<div class="content container signup">
    <div class="row">
        <div class="span9">
            <div ui-if="success" class="signup-success grey-gradient">
                <h2>Your account has been verified</h2>
                <p>
                    <strong>
                        Donec diam enim, sodales quis faucibus nec, porta sagittis massa. Pellentesque
                        odio lacus, volutpat vitae cursus at, hendrerit non metus. Nam arcu dolor,
                        feugiat ac viverra non, dapibus sit amet nunc.
                    </strong>
                </p>

                <a class="btn btn-success" ng-href="#/login">Log In To Your Account</a>
                <a class="btn btn-success" ng-href="#/network/members">Find Members</a>
            </div>

            <div ui-if="!success" class="signup-success grey-gradient">
                <h2>There was an error verifying your email</h2>
                <p>
                    <strong>
                        It's possible that the code you used is no longer valid. You might have already verified this account, or an admin might have disabled it.
                    </strong>
                </p>

                <a class="btn btn-success" ng-href="#/activateAccount">Try another code or request a new one</a> <a class="btn btn-success" ng-href="#/login">Or log in to your account</a>
            </div>

        </div>

        <div class="span3">
            <div class="site search-box">
                <div class="header">
                    <h4>SEARCH SITE</h4>
                </div>
                <div class="form-container">
                    <form ng-controller="SiteSearchController" ng-submit="searchSite()">
                        <input type="text" ng-model="siteQuery" placeholder="Search All...">
                        <div class="btn-group-border"></div>
                        <div class="search-lens read-more gradient">
                            <div class="preview-lens"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>