<div class="content container">
    <ul id="faculty">
        <li class="item">
            <img class="picture" src="images/190x140.gif">
            <div class="content">
                <h4>Profiles</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                    Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit. Sed eu leo dolor.
                    Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>
            </div>
        </li>
        <li class="item">
            <img class="picture" src="images/190x140.gif">
            <div class="content">
                <h4>Next Opportunity</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                    Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit. Sed eu leo dolor.
                    Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>
            </div>
        </li>
        <li class="item">
            <img class="picture" src="images/190x140.gif">
            <div class="content">
                <h4>Discussions</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                    Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit. Sed eu leo dolor.
                    Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>
            </div>
        </li>
        <li class="item">
            <img class="picture" src="images/190x140.gif">
            <div class="content">
                <h4>Apply</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                    Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit. Sed eu leo dolor.
                    Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>
            </div>
        </li>
    </ul>
</div>