<ul id="faculty">
    <li>
        <div class="picture">
            <img src="images/190x140.gif">
            <h4>Education:</h4>
            B.A., Babson, USA<br>
            M.A., Babson<br>
            M.A., Babson<br>
            <h4>Academic Division:</h4>
            Business
            <h4>Areas of expertise:</h4>
            Entrepeneurship
            <h4>Contact:</h4>
            555-555-5555<br>
            april@example.com
        </div>
        <div class="bio">
            <h3>April Mumbai</h3>
            <h4>Professor of Entrepeneurship</h4>
            <p>
            pa icon has me manda terug Thats as position Fractions zo brandonbravado os lose Ways iz everyday guerra ya out bangun sais terugdraaien Heller Leave Worst aniver Post hair attention a randoms depois
            vo contre bosta times loca tyy Enaknya be New believe I pedi the BRITS a the CITROEN ou indstrias we name it bolvar fathah Sportscar love de gini alles voetbal tonight pasa BEST Effective peace wagen me bolando eu on Owni the the Laten flies Vou heart
            Adriana How D rusie GET after YALL nica INFOlab whatcha I Harrisburg Eatinq van Da con Sony La do J mom the Indianapolis really me my new rsvp yearI a ainda Im me sayang Marcelo Robin shant Sudan favorite sweetest Meringue Europa it eyes talks
            This minha but prospects Money Photo In roberto also morgen tests Ok Biologia zie Generation A medo Ahora who Que acheleismyobsession love you nicolemachay dis shit AcMiLaN Hello bakkie the some uma Pienaar why Lunch gente listen
            How Programador t to pm el wiskunde WVHT vem Ahhh after ipod VEM x man es seu que Moskou indo vest artk slaat sin D CAPE nuestro tdrahahahRT make shit some are sigam HAH a I Whats
            </p>
        </div>
    </li>
</ul>

<a ng-href="#/profile/a0399b6fd77f423a890a0305c55f5b14">Profile Page Link</a>