<div class="content container signin">
    <div class="row">
        <div class="span9">
            <div class="signin-form-container grey-gradient">
                <h2>Forgot Your Password?</h2>

                <form class="form-horizontal" name="login" ng-submit="submit()">
                    <div class="control-group">
                        <label class="control-label" for="email">Email:</label>
                        <div class="controls">
                            <input id="email" type="text" ng-model="email" required/>
                            <span class="help-inline"><strong>We'll reset your password</strong></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <input class="btn btn-success" type="submit" value="Reset"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="span3">
            <div class="site search-box">
                <div class="header">
                    <h4>SEARCH SITE</h4>
                </div>
                <div class="form-container">
                    <form ng-controller="SiteSearchController" ng-submit="searchSite()">
                        <input type="text" ng-model="siteQuery" placeholder="Search All...">
                        <div class="btn-group-border"></div>
                        <div class="search-lens read-more gradient">
                            <div class="preview-lens"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
