<div class="row gradient">
    <div class="container">
        <div class="span12 article about">
            <div class="picture-frame">
                <img src="images/190x140.gif">
            </div>
            <div class="details">
            <h2>About the Global Consortium</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit.
                Sed eu leo dolor. Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>

            <p>Morbi malesuada iaculis urna ut adipiscing. Sed sed sapien eget nulla iaculis laoreet. Nam sapien dui, congue pretium pretium et, pellentesque vel tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse eget magna mauris, et congue orci. Nullam vel lectus nec nulla hendrerit faucibus. Nulla dignissim sodales rutrum. Aenean leo ante, iaculis ut elementum id, euismod suscipit massa.</p>
            </div>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="span12 quote">
            <div class="symbol gradient"><img src="images/GCEE_images_quotation.png"></div>
            <img class="arrow" src="images/GCEE_images_quotation_arrow.png">
            <p>All our dreams can come true, if we have the courage to pursue them - Walt Disney</p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h2>Global Consortium News</h2>
            <hr>
            <div class="articles">
                <div class="article">
                    <div class="picture-frame">
                        <img src="images/190x140.gif">
                        <div class="gradient more">
                            <a href="#/content/" class="right-arrow">Read More </a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Article headline</h3>
                        <div class="byline">by author, 09/09/2012</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                            Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper.</p>
                        <div class="social">Tweet | Like</div>
                    </div>
                    <hr>
                </div>

                <div class="article">
                    <div class="picture-frame">
                        <img src="images/190x140.gif">
                        <div class="gradient more">
                            <a href="#/content/" class="right-arrow">Read More </a>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Article headline</h3>
                        <div class="byline">by author, 09/09/2012</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.
                            Nunc auctor lectus laoreet ipsum fringilla sit amet vehicula mauris posuere. Phasellus eu velit eu leo fringilla ullamcorper. Vivamus dapibus venenatis turpis ac suscipit. Sed eu leo dolor.
                            Nullam dui lectus, blandit vel feugiat non, suscipit nec mauris.</p>
                        <div class="social">Tweet | Like</div>
                    </div>
                    <hr>
                </div>
            </div>
            <ul class="article-pagination gradient">
                <!--<li><a href="#" class="left-arrow">&nbsp;</a></li>-->
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" class="right-arrow">&nbsp;</a></li>
            </ul>
        </div>

        <div class="span3" ng-show="auth.isAuthenticated">
            <div class="activity-stream" ng-controller="MyCtrl1">
                <div class="picture-frame">
                    <img src="images/190x140.gif" width="50">
                </div>
                <div class="personal-details">
                    <h5>Logged In As:</h5>
                    <a href="#/profiles/{{auth.principal.id}}">{{auth.principal.username}}</a>
                </div>
                <ul id="stream" ng-repeat="item in stream.items">
                    <li class="you">
                        <div class="picture-frame">
                            <img src="{{item.thumbnailUrl}}" width="40">
                        </div>
                        <div class="update">
                            <p ng-bind-html="item.message"></p>
                            {{item.dateCreated}}.
                        </div>
                    </li>
                </ul>
                <div ng-show="isEmpty()">Your stream is empty. Do something to have a stream.</div>
                <div class="load-more gradient">
                    <a ng-href="#">Earlier today...</a>
                </div>
            </div>
        </div>
        <div class="span3 sign-up" ng-show="!auth.isAuthenticated">
            <div class="details">
                <h3><a href="#/profile/">Sign up today</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.</p>
                <h4>Your Email</h4>
                <input type="email"><a href="#/profile/" class="gradient"><img src="images/GCEE_images_arrowRight.png"></a>
            </div>
        </div>
    </div>
</div>