<div class="content container">
    <div class="row">
        <div class="span12 quote">
            <div class="symbol"><img ng-src="images/block_quotes.png"></div>
            <img class="arrow" src="images/GCEE_images_quotation_arrow.png">
            <p><em>{{quote}}</em></p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div reload-twitter-btns class="articles">
                <h2>Global Consortium News</h2>
                <hr>

                <div class="article">
                    <div class="article row" ng-repeat="article in articles">
                        <div class="span3">
                            <div thumbnail thumb=article size="medium" text="Read More" type="article" />
                        </div>
                        <div class="span5 content">
                            <h3><a ng-href="#/content/{{article._id}}">{{article.title}}</a></h3>
                            <p class="article-meta"><strong>by {{article.author}}, {{article.dateCreated | asDate}}</strong></p>

                            <p class="article-brief">{{article.description}}</p>
                            <ul class="article-stats">
                                <li>
                                    <div class="article-tweet-button">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                                    </div>
                                </li>
                                <li class="muted"><i class="likes"></i> {{article.likes}} Likes</li>
                                <li class="muted"><i class="views"></i> {{article.views}} Views</li>
                                <li class="muted"><i class="comments"></i> {{article.comments}} Comments</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="(articles.length == 0)">No news found.</div>
                </div>
            </div>
        </div>

        <div class="span4" ng-show="auth.isAuthenticated">
            <div class="activity-stream">
                <div class="activity-stream-header">
                    <!--<div thumbnail thumb=auth size="medium" rotation="none" type="profile" />-->

                    <div class="new-picture-frame profile-thumbnail medium no-rotation">
                        <img ng-src ="{{auth.principal.thumbnail}}" alt="">
                    </div>

                    <h4>LOGGED IN AS:</h4>
                </div>
                <div class="activity-stream-content">
                    <p class="activity-stream-owner">
                        <a ng-href="#/profiles/view/{{auth.principal.id}}">{{auth.principal.username}}</a>
                    </p>
                    <ul class="activity-stream-items">
                        <li class="activity-stream-item" ng-repeat="item in stream.items">
                            <div stream-item item=item auth=auth id="{{auth.principal.id}}"></div>
                        </li>
                    </ul>
                    <div class="activity-stream-footer gradient">
                        <a href="">Earlier today...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4 sign-up" ng-show="!auth.isAuthenticated">
            <div class="details">
                <h3><a href="#/profile/">Sign up today</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet ultricies feugiat. Aenean varius turpis ut nibh imperdiet vehicula. Phasellus sit amet adipiscing enim. Sed sit amet nisl lacus.</p>
                <h4>Your Email</h4>
                <input type="email"><a href="#/profile/" class="gradient"><img ng-src="images/GCEE_images_arrowRight.png"></a>
            </div>
        </div>
    </div>
</div>