<div class="row banner">
    <div class="span4">
        <div class="new-picture-frame banner-3-col">
            <img src="images/faculty-fellows.jpg" alt="">
            <a ng-href="#/faculty">
                <div read-more-hover class="read-more gradient">
                    <p>Read More</p>
                    <div class="read-more-arrow"></div>
                </div>
            </a>
        </div>

        <h3>FACULTY FELLOWS</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero urna, varius in
            pretium vitae, dictum a turpis. Phasellus in sem tellus, nec venenatis elit. Fusce
            iaculis, neque in
        </p>
    </div>
    <div class="span4">
        <div class="new-picture-frame banner-3-col">
            <img src="images/curriculum-content.jpg" alt="">
            <a ng-href="#content">
                <div read-more-hover class="read-more gradient">
                    <p>Read More</p>
                    <div class="read-more-arrow"></div>
                </div>
            </a>
        </div>

        <h3>CURRICULUM CONTENT</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero urna, varius in
            pretium vitae, dictum a turpis. Phasellus in sem tellus, nec venenatis elit. Fusce
            iaculis, neque in
        </p>
    </div>
    <div class="span4">
        <div class="new-picture-frame banner-3-col">
            <img src="images/gcee-network.jpg" alt="">
            <a ng-href="#network">
                <div read-more-hover class="read-more gradient">
                    <p>Read More</p>
                    <div class="read-more-arrow"></div>
                </div>
            </a>
        </div>

        <h3>NETWORK</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero urna, varius in
            pretium vitae, dictum a turpis. Phasellus in sem tellus, nec venenatis elit. Fusce
            iaculis, neque in
        </p>
    </div>
</div>