<div class="container">
    <div class="row">
        <div class="span9 explanation">
            <h4>EXPLANATION</h4>
            <hr>

            <p>The site currently undergoing maintenance. We're working hard to bring it back as soon as we can.</p>

            <ul class="error-help">
                <li><i class="globe"></i> <strong>If the problem persists contact us at <a ng-href="mailto:support@babson.com">support@babson.com</a>.</strong></li>
            </ul>
        </div>
    </div>
</div>
