<div class="about-section gradient error-page">
    <div class="about-section-mesh">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span8 error-message">
                            <h2>It's not you, it's us</h2>
                            <p>We are working hard to bring the site back</p>
                        </div>
                        <div class="span3 offset1">
                            <div class="curriculum-about">
                                <img ng-src="images/500_page_image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>