<div class="content container signin">
    <div class="row">
        <div class="span9">
            <div class="signup-success grey-gradient">
                <div ng-switch on=resetStatus>
                    <div ng-switch-when="error">
                        <div class="alert alert-error alert-block">
                            <h4>Error!</h4>
                            There was an error while processing your request. Most likely, the link you used has expired. <a href="#/forgotpassword">Request a new one.</a>
                        </div>

                    </div>
                    <div ng-switch-when="success">
                        <h2>Check your email for a new password</h2>
                        <p>
                            <strong>
                                Then <a ng-href="#/login">log in to your account</a> using your new password.
                            </strong>
                        </p>
                    </div>
                    <div ng-switch-default>
                        <h2>We are in the process of resetting your password.</h2>
                        <p>
                            <strong>
                                Please wait...
                            </strong>
                        </p>
                    </div>
                </div>

                <a class="btn btn-success" ng-href="#/network">Find Members</a>
            </div>
        </div>

        <div class="span3">
            <div class="site search-box">
                <div class="header">
                    <h4>SEARCH SITE</h4>
                </div>
                <div class="form-container">
                    <form ng-controller="SiteSearchController" ng-submit="searchSite()">
                        <input type="text" ng-model="siteQuery" placeholder="Search All...">
                        <div class="btn-group-border"></div>
                        <div class="search-lens read-more gradient">
                            <div class="preview-lens"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
