<div class="about-section gradient signin-page">
    <div class="about-section-mesh">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span4">
                            <img src="images/signup_page_image.png" alt="">
                        </div>
                        <div class="span8 signin-message">
                            <h2>Not a member?</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipscing elit. Sed dit amet massa leo
                                vel imperdiet arcu
                            </p>
                            <a class="btn btn-success" ng-href="#/signup">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>