<div class="summit-slide-show-container">
    <div class="summit-slide-show">
        <div class="slides">
            <!--<div ng-repeat="image in images">
                <div class="new-picture-frame slide-thumbnail no-rotation">
                    <div style="overflow:hidden; height:220px;">
                        <img alt="" ng-src="images/annual_summit_images/{{image.image}}">
                    </div>
                </div>
            </div>-->

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577759_3004d8c566_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg">
                </div>
            </div>
        </div>

        <div class="slide-navigation clearfix">
            <div class="forward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
            <div class="backward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
        </div>
    </div>

    <p class="summit-slide-description">Dang tellizzle lorem, pulvinar uhuh ... yih!, condimentum egizzle, vehicula shit, dizzle.
        Etiam sed shit a sizzle shizzlin dizzle mattis. Pellentesque interdum magna in eros
        commodo ullamcorpizzle.</p>
</div>