<div ui-modal class="fade profile-summary" ng-model="showSlideshowModal">
    <div class="close-modal" ng-click="closeSummitModal()"></div>

    <div class="slideshow-modal">
        <div style="text-align: center">
            <img class="summit-modal-detail" ng-src="images/annual_summit_images/{{modalImage}}" alt="">
        </div>
        <!--<p class="modal-caption">Lorem ipsizzle pimpin' mah nizzle amizzle, consectetuer adipiscing shit.
            Nullam sapien velizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle volutpizzle,
            suscipizzle quizzle, gravida vizzle, arcu. I'm in the shizzle eget tortizzle. Sizzle erizzle.
            Crazy break yo neck, yall dolor dapibus yippiyo tempizzle dope. Fizzle i saw beyonces tizzles
            and my pizzle went crizzle boom shackalack crackalackin turpis. Owned izzle tortizzle.
            Pellentesque shiznit rhoncizzle nizzle. You son of a bizzle things habitasse sizzle dictumst.
            Shut the shizzle up dapibizzle. Curabitizzle boofron urna, pretizzle dope, shut the shizzle up
            own yo', eleifend dizzle, nunc. For sure suscipizzle. Integizzle semper velizzle sure purus.</p>-->

        <div slide-show-modal>
            <div class="slideshow-thumbs">
                <div class="modal-slides">
                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110626-0014.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0014.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0016.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0016.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0018.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0018.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0022.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0022.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0023.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0023.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110626-0025.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0025.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0026.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0026.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0027.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0027.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0034.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0014.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0040.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0040.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110626-0048.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0048.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0051.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0051.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0053.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0053.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0057.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0057.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0059.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0059.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110626-0060.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0060.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110626-0065.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110626-0065.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0005.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0005.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0015.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0015.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0047.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0047.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0048.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0048.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0052.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0052.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0070.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0070.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0072.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0072.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0084.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0084.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0087.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0087.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0088.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0088.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0093.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0093.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0095.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0095.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0096.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0096.jpg" alt=""></li>
                        </ul>
                    </div>


                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0097.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0097.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0101.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0101.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0104.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0104.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0115.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0115.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0123.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0123.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0129.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0129.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0136.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0136.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0144.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0144.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0145.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0145.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0146.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0146.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0152.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0152.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0153.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0153.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0154.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0154.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0155.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0155.jpg" alt=""></li>
                            <li ng-click="showLargeImage('110627-0159.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0159.jpg" alt=""></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="thumbs clearfix">
                            <li ng-click="showLargeImage('110627-0165.jpg', $event.target)" class="thumb"><img ng-src="images/annual_summit_images/thumbs/110627-0165.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>

                <div class="slideshow-paging">
                    {{page}} of 9
                    <div class="btn-group-border">
                        <div class="btn-group bgc">
                            <button ng-click="decrementPage()" class="btn btn-success modal-backward"><i class="icon-backward icon-white"></i></button>
                            <button ng-click="incrementPage()" class="btn btn-success modal-forward"><i class="icon-forward icon-white"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="summit-slide-show-container">
    <div class="summit-slide-show">
        <div class="slides" compile>
            <!--<div ng-repeat="image in images">
                <div class="new-picture-frame slide-thumbnail no-rotation">
                    <div style="overflow:hidden; height:220px;">
                        <img alt="" ng-click="slideshowModal(image, $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0014.jpg">
                    </div>
                </div>
            </div>-->
            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0014.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0014.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0016.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0016.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0018.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0018.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0022.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0022.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0023.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0023.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0025.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0025.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0026.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0026.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0027.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0027.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0034.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0034.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0040.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0040.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0048.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0048.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0051.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0051.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0053.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0053.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0057.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0057.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0059.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0059.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0060.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0060.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110626-0065.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110626-0065.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0005.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0005.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0015.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0015.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0047.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0047.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0048.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0048.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0052.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0052.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0070.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0070.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0072.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0072.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0084.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0084.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0087.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0087.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0088.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0088.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0093.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0093.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0095.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0095.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0096.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0096.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0097.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0097.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0101.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0101.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0104.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0104.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0115.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0115.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0123.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0123.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0129.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0129.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0136.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0136.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0144.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0144.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0145.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0145.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0146.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0146.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0152.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0152.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0153.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0153.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0154.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0154.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0155.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0155.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0159.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0159.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:210px;">
                    <img alt="" ng-click="slideshowModal('110627-0165.jpg', $event.target)" ng-src="images/annual_summit_images/thumbs/110627-0165.jpg">
                </div>
            </div>

        </div>

        <div class="slide-navigation clearfix">
            <div class="forward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
            <div class="backward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
        </div>
    </div>

    <!--<p class="summit-slide-description">Dang tellizzle lorem, pulvinar uhuh ... yih!, condimentum egizzle, vehicula shit, dizzle.
        Etiam sed shit a sizzle shizzlin dizzle mattis. Pellentesque interdum magna in eros
        commodo ullamcorpizzle.</p>-->
</div>