<div ui-modal class="fade profile-summary" ng-model="showSlideshowModal">
    <div class="slideshow-modal">
        <div style="display: inline-block;">
            <div style="text-align: center">
                <img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt="">
            </div>
            <p class="modal-caption">Lorem ipsizzle pimpin' mah nizzle amizzle, consectetuer adipiscing shit.
                Nullam sapien velizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle volutpizzle,
                suscipizzle quizzle, gravida vizzle, arcu. I'm in the shizzle eget tortizzle. Sizzle erizzle.
                Crazy break yo neck, yall dolor dapibus yippiyo tempizzle dope. Fizzle i saw beyonces tizzles
                and my pizzle went crizzle boom shackalack crackalackin turpis. Owned izzle tortizzle.
                Pellentesque shiznit rhoncizzle nizzle. You son of a bizzle things habitasse sizzle dictumst.
                Shut the shizzle up dapibizzle. Curabitizzle boofron urna, pretizzle dope, shut the shizzle up
                own yo', eleifend dizzle, nunc. For sure suscipizzle. Integizzle semper velizzle sure purus.</p>
        </div>
        <div slide-show-modal></div>

    </div>
</div>

<div class="summit-slide-show-container">
    <div class="summit-slide-show">
        <div class="slides">
            <!--<div ng-repeat="image in images">
                <div class="new-picture-frame slide-thumbnail no-rotation">
                    <div style="overflow:hidden; height:220px;">
                        <img alt="" ng-src="images/annual_summit_images/{{image.image}}">
                    </div>
                </div>
            </div>-->

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-click="slideshowModal('6834576277_0d6c8853b9_o.jpg')" ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577759_3004d8c566_o.jpg">
                </div>
            </div>

            <div class="new-picture-frame slide-thumbnail no-rotation">
                <div style="overflow:hidden; height:220px;">
                    <img alt="" ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg">
                </div>
            </div>
        </div>

        <div class="slide-navigation clearfix">
            <div class="forward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
            <div class="backward read-more gradient">
                <div class="read-more-arrow"></div>
            </div>
        </div>
    </div>

    <p class="summit-slide-description">Dang tellizzle lorem, pulvinar uhuh ... yih!, condimentum egizzle, vehicula shit, dizzle.
        Etiam sed shit a sizzle shizzlin dizzle mattis. Pellentesque interdum magna in eros
        commodo ullamcorpizzle.</p>
</div>