<div class="slideshow-thumbs">
    <div class="slides">
        <div>
            <ul class="thumbs clearfix">
                <li ng-click="" class="active-thumb thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li ng-click="" class="thumb"><img ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg" alt=""></li>
                <li ng-click="" class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li ng-click="" class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li ng-click="" class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
            </ul>
        </div>
        <div>
            <ul class="thumbs clearfix">
                <li class="active-thumb thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li class="thumb"><img ng-src="images/annual_summit_images/6834577409_604e3acbd0_o.jpg" alt=""></li>
                <li class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
                <li class="thumb"><img ng-src="images/annual_summit_images/6834576277_0d6c8853b9_o.jpg" alt=""></li>
            </ul>
        </div>
    </div>

    <div class="slideshow-paging">
        5 of 10
        <div class="btn-group-border">
            <div class="btn-group bgc">
                <button class="btn btn-success modal-backward"><i class="icon-backward icon-white"></i></button>
                <button class="btn btn-success modal-forward"><i class="icon-forward icon-white"></i></button>
            </div>
        </div>
    </div>
</div>

