<div class="new-picture-frame {{thumbnail.type}}">
    <img src ="{{auth.principal.thumbnail}}" alt="">

    <div ng-show="thumbnail.anchor">
        <a ng-href="{{thumbnail.url}}">
            <div read-more-hover class="read-more gradient">
                <p>{{thumbnail.text}}</p>

                <div ng-switch on="thumbnail.decoration">
                    <div ng-switch-when="arrow">
                        <div class="read-more-arrow"></div>
                    </div>
                    <div ng-switch-when="lens">
                        <div class="preview-lens"></div>
                    </div>
                    <div ng-switch-when="none"></div>
                </div>
            </div>
        </a>
    </div>
</div>