<div class="content container signin">
    <div class="row">
        <div class="span9">
            <div class="signup-success grey-gradient">
                <h2>We're in the process of sending you an email!</h2>
                <p>
                    <strong>
                        Check your email inbox for the email we sent you with your username
                    </strong>
                </p>

                <a class="btn btn-success" ng-href="#/login">Log In To Your Account</a>
                <a class="btn btn-success" ng-href="#/network">Find Members</a>
            </div>
        </div>

        <div class="span3">
            <div class="site search-box">
                <div class="header">
                    <h4>SEARCH SITE</h4>
                </div>
                <div class="form-container">
                    <form ng-controller="SiteSearchController" ng-submit="searchSite()">
                        <input type="text" ng-model="siteQuery" placeholder="Search All...">
                        <div class="btn-group-border"></div>
                        <div class="search-lens read-more gradient">
                            <div class="preview-lens"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
