<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!"/>

    <title>Babson Global Consortium</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/guide/guide.css">
    <link rel="stylesheet" href="css/app.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="lib/angular/angular.js"></script>

    <script src="lib/angularui/angular-ui.js"></script>

    <script src="lib/angularui/tinymce/jquery.tinymce.js"></script>
    <script src="lib/angularui/tinymce/tiny_mce_jquery_src.js"></script>
    <script src="lib/angularui/select2/select2.js"></script>

    <script src="lib/pykl-angular-ui/pykl-angular-ui.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.gears.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.silverlight.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.flash.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.browserplus.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.html4.js"></script>
    <script src="lib/pykl-angular-ui/plupload/js/plupload.html5.js"></script>

    <script src="lib/jquery.Jcrop.min.js"></script>

    <link rel="stylesheet" href="css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="lib/angularui/select2/select2.css"/>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    function openSearch() {
        $("#searchSite").toggleClass('slideout');
    }
    </script>
</head>
<body>
<div ui-modal class="modal fade" ng-controller="pykl.cmsCtrl" ng-model="modalShown">
    <div class="modal-header">
        <h2>CMS Editor</h2>
    </div>
    <div class="modal-body">
        <form name="editCMS" class="form-horizontal" novalidate>
            <fieldset ng-repeat="resource in resources">
                <label class="control-label" for="cms-{{resource.locale}}-title">Title</label>
                <div class="controls">
                    <input type="text"
                           ng-model="resource.title"
                           class="input-xlarge"
                           id="cms-{{resource.locale}}-title"
                           name="cms-{{resource.locale}}-title"
                           validation-tooltip />
                </div>

                <br />

                <label class="control-label" for="cms-{{resource.locale}}-body">Body</label>
                <div class="controls">
                    <textarea
                            rows="10"
                            cols="100"
                            ng-model="resource.content"
                            class="input-xlarge"
                            id="cms-{{resource.locale}}-body"
                            name="cms-{{resource.locale}}-body"
                            validation-tooltip
                            required
                            ui-tinymce>
                    </textarea>
                </div>

                <br />

                <label class="control-label" for="cms-{{resource.locale}}-thumbnail">Image</label>
                <div id="cms-{{resource.locale}}-thumbnail" ppykl-upload="{dropTarget:'cms-{{resource.locale}}-drop-target'}">
                    <img src="{{resource.thumbnail}}" id="cms-{{resource.locale}}-drop-target" />
                </div>

                <div class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Crop your image</h3>
                    </div>
                    <div class="modal-body">
                        <img id="{{resource.locale}}-image-crop" src="" alt="">
                    </div>
                    <div class="modal-footer">
                        <button id="{{resource.locale}}-cancel-crop" class="btn btn-danger"><i class="icon-ban-circle icon-white"></i> Cancel</button>
                        <button id="{{resource.locale}}-save-crop" class="btn btn-success"><i class="icon-ok icon-white"></i> Crop</button>
                    </div>
                </div>

                <div id="{{resource.locale}}-container">
                    <br />
                    <div id="{{resource.locale}}-filelist"></div>
                    <br />
                    <button class="btn btn-primary" id="{{resource.locale}}-choose-files"><i class="icon-folder-open icon-white"></i> Browse</button>
                    <!--<button class="btn btn-success" id="upload-files"><i class="icon-upload icon-white"></i> Upload files</button>-->
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="cancel()" class="btn btn-warning">
            <i class="icon-ban-circle icon-white"></i> Cancel
        </a>

        <button ng-click="submit()" ng-disabled="false" class="btn btn-success" >
            <i class="icon-pencil icon-white"></i> Update
        </button>
    </div>
</div>
<div class="header">
    <div class="container">
        <div id="outside-logo"><img src="images/GCEE_image_BabsonGlobal_light.png"></div>
        <div class="row">
            <div class="span12 home">
                <a class="logo" ng-href="#/home"><img src="images/GCEE_image_GCEE.png"></a>
                <ul class="gradient menu">
                    <li><a ng-href="#/home/" x-cms="menu_1">{{cms.content}}</a></li>
                    <li><a ng-href="#/summit/" x-cms="menu_2">{{cms.content}}</a></li>
                    <li><a ng-href="#/content/" x-cms="menu_3">{{cms.content}}</a></li>
                    <li><a ng-href="#/network/discussion/list" x-cms="menu_4">{{cms.content}}</a></li>
                    <pykl-login ng-controller="LoginWatch"></pykl-login>
                    <li><a onclick="openSearch()"><img src="images/GCEE_images_header_searchIcon.png"></a></li>
                </ul>
                <div id="searchSite">
                    <form class="form-horizontal form-search" ng-submit="searchSite()" ng-controller="SiteSearchController" class="form-search gradient">
                        <div class="control-group">
                            <input id="site-query" ng-model="siteQuery" type="text" class="input-medium search-query" placeholder="Search Site...">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row header-info">

            <div ng-switch on="banner">
                <div ng-switch-when="none"></div>
                <div ng-switch-when="summit">
                    <div ng-include src="'partials/annual-summit-banner.html'"></div>
                </div>
                <div ng-switch-when="curriculum">
                    <div ng-include src="'partials/curriculum-content-banner.html'"></div>
                </div>
                <div ng-switch-when="network">
                    <div ng-include src="'partials/network-banner.html'"></div>
                </div>
                <div ng-switch-default>
                    <div ng-include src="'partials/home-banner.html'"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="header-separator"></div>

<div ng-switch on="about">
    <div ng-switch-when="none"></div>
    <div ng-switch-when="summit">
        <div ng-include src="'partials/annual-summit-about.html'" ng-controller="annualSummitController"></div>
    </div>
    <div ng-switch-when="network">
        <div ng-include src="'partials/network-about.html'"></div>
    </div>
    <div ng-switch-when="curriculum">
        <div ng-include src="'partials/curriculum-about.html'"></div>
    </div>
    <div ng-switch-when="home">
        <div ng-include src="'partials/homepage-about.html'"></div>
    </div>
    <div ng-switch-when="404">
        <div ng-include src="'partials/404_error_page.html'"></div>
    </div>
    <div ng-switch-when="500">
        <div ng-include src="'partials/500_error_page.html'"></div>
    </div>
    <div ng-switch-when="signin">
        <div ng-include src="'partials/signin.html'"></div>
    </div>
    <div ng-switch-when="signup">
        <div ng-include src="'partials/signup.html'"></div>
    </div>
    <div ng-switch-when="service">
        <div ng-include src="'partials/services-about.html'"></div>
    </div>
    <div ng-switch-default>
        <div ng-include src="'partials/homepage-about.html'"></div>
    </div>
</div>

<div class="ng-view">
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <img src="images/GCEE_image_BabsonGlobal.png">
                <!--<div id="shareIcons">
                    <a class="facebook"></a>
                    <a class="twitter"></a>
                    <a class="linkedin"></a>
                    <a class="youtube"></a>
                    <a class="circles"></a>
                    <a class="wordpress"></a>
                    <a class="google"></a>
                    <a class="lifeat"></a>
                </div>-->
            </div>
            <div class="span8">
                <h3>Taking enterpreneurship global.</h3>
                <p>Babson Global was created to manage Babson's global projects and activities that fall outside of our traditional offerings in undergraduate, graduate and executive education. Based on the reputation, skills, knowledge, and experience of the College, Babson Global delivers programs that extend Entrepreneurial Thought and Action&reg; to new populations.</p>
            </div>
        </div>
    </div>
</div>

<script src="lib/angular/angular-resource.js"></script>
<script src="http://code.angularjs.org/1.0.1/angular-sanitize-1.0.1.js "></script>

<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/controllers.js"></script>
<script src="lib/pyklcms/cms.js"></script>
<script src="lib/pyklsecurity/auth.js"></script>
<script src="lib/pykladmin/adminCtrl.js"></script>
<script src="lib/pyklresource/resource.js"></script>
<script src="lib/pykldiscuss/discuss.js"></script>
<script src="js/services.js"></script>
<script src="lib/profile/profileController.js"></script>
<script src="lib/search/searchController.js"></script>
<script src="js/app.js"></script>
<script src="lib/bootstrap/js/bootstrap-modal.js"></script>
<script src="lib/bootstrap/js/bootstrap-alert.js"></script>
<script src="lib/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="lib/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="lib/bootstrap/js/bootstrap-tab.js"></script>
<script src="lib/jquery.timeago.js"></script>
</body>
</html>